<div class="navbar-wagon">
  <!-- Logo -->
  <span >
    <%= link_to cocktails_path, {class: "navbar-wagon-brand"} do %>
      <%= image_tag cl_image_path('logo_cocktail_rufbr6', width: 1600, height: 1000, crop: :fill), class: "img-circle" %>
    <% end %>
  </span>
</div>
