<div class="banner"
      style="background-image: linear-gradient(-225deg, rgba(237, 229, 116,0.6) 0%, rgba(225, 245, 196,0.6) 50%), url('<%= cl_image_path('cocktails_background_gmreli', width: 1600, height: 1000, crop: :fill) %>');">

  <div class="banner-content">
    <h1>My cocktails</h1>
    <p>Feast yourself</p>
    <%= link_to "I want a cocktail", cocktails_path, class: "btn btn-warning" %>
  </div>
</div>

